* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Lato-Medium.ttf')  format('truetype') /* Safari, Android, iOS */
}

body {
	padding-top: 50px;
	text-align: center;
    font-family: 'Lato-Medium';
}

#calendar {
	text-align: center;
    width: 300px;
    display: block;
    margin: 0 auto;
   

    /*
    background-color: transparent;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    */
}

#calendar.errors {
    padding: 15px;
    background-color: #ffc7c7;
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
}

/*
#calendar.errors > p:last-child {
    margin-bottom: 0;
}
*/

#calendar > table {
	/*display: inline-block;*/
    width: 100%;
    border-color: transparent;
    table-layout: fixed;
    border-right-width: 0;
    border-left-width: 0;
}

.month-jump {
    height: 20px;
}

table th,
table td {
    /*width: 30px;*/
    height: 35px;
    border: 0;	
}

.invalid-day {
	background-color: gray;
}

.input {
	width: 300px;
	display: inline-block;
}

.form-group {
    margin-bottom: 10px;
}
.form-group > .title {
    width: 40%;
    display: inline-block;
    float: left;
    text-align: right;
    padding-right: 10px;
}
.form-group > .title > label {
    font-size: 13px;
    line-height: 34px;
}

    


.form-group > .input {
    width: 60%;
    display: inline-block;
}
.form-group > .input > input {
    width: 100%;
    padding: 4px 5px;
    line-height: 15px;
    height: 34px;
    font-size: 15px;

    border: solid 2px #4d4d4d;
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;
    border-radius: 4px;

    outline: none;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-group > .input > input:focus {
    border-color: #ea6c18;
}

.button {
    color: #FFFFFF;
    font-weight: 500;
    padding: 4px 5px;
    font-size: 15px;

    background-color: #ea6c18;

    border: solid 2px #ea6c18;
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;
    border-radius: 4px;

    outline: none;

    line-height: 15px;
    height: 34px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;
}

.button:hover {
    background-color: #FFFFFF;
    color: #ea6c18;
}

.button:active {
    background-color: #ea6c18;
    color: #FFFFFF;
}

.valid-day {
    background-color: #c8df99;
}
.weekend {
    background-color: yellow;
}
.invalid-day {
    background-color: #cdcdcd;
}

.month-name {
    background-color: #ecf6d2;
}

#calendar > ul {
    font-size: 13px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 7px;
}