* {
	margin: 0;
	padding: 0;
}

#calendar {
	text-align: center;
}

#calendar > table {
	display: inline-block;
}

.month-jump {
    height: 20px;
}

table th {
    width: 30px;	
}

.invalid-day {
	background-color: gray;
}